.datepicker
{
	z-index:999;
	border-collapse: collapse;
	border: 2px solid #999;
	position: absolute;
}
.datepicker tr.controls th
{
	height: 22px;
	font-size: 12px;
}
.datepicker select
{
	font-size: 12px;
}
.datepicker tr.days th
{
	height: 18px;
}
.datepicker tfoot td
{
	height: 18px;
	text-align: center;
	text-transform: capitalize;
}
.datepicker th, .datepicker tfoot td
{
	background: #eee;
	font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
}
.datepicker th span, .datepicker tfoot td span
{
	font-weight: bold;
}

.datepicker tbody td
{
	width: 24px;
	height: 24px;
	border: 1px solid #ccc;
	font: 12px/22px Arial, Helvetica, sans-serif;
	text-align: center;
	background: #fff;
}
.datepicker tbody td.date
{
	cursor: pointer;
}
.datepicker tbody td.date.over
{
	background-color: #99ffff;
}
.datepicker tbody td.date.chosen
{
	font-weight: bold;
	background-color: #ccffcc;
}
